.form-card {
  max-width: 800px;
  margin: auto;
}

body {
  background: url("../images/Income-Expenses.png") no-repeat center center/cover;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #2e2e2e;
  color: white;
}

button {
  margin-top: 30px;
  padding: 14px;
  width: 160px;
  border-radius: 14px;
  background: #ccc;
  border: none;
}
